body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: url(../../Public/Images/Patas.svg),url(../../Public/Images/Forma\ 2\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: 105% -0.6rem, 0 23rem;
    background-size: 18.25rem 23rem, 5.17rem 25.9rem;
    min-height: 100vh;
}

main img{
    margin: 2rem 0 .5rem 0;
}

.text {
    color: #3772FF;
    width: 19.5rem;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.form{
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.form div label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #737380;;
}

.form div input{
    width: 19.5rem;
    height: 2.5rem;
    background: #F7F7F7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: none;
    text-align: center;
}

input::placeholder{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #BCBCBC;
}

button {
    height: 2.5rem;
    width: 9.25rem;
    color: #fff;
    background: #FC7071;
    border-radius: 6px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
    margin-bottom: 6.5rem;
    margin-top: 4px;
}

@media (max-width: 590px){
    .fundo{
        background-position: 100% -0.6rem, 0 23rem;
        background-size: 37%, 5.17rem 25.9rem;
    }
}