body {
    background-color: #3772FF;
}

.fundo{
    background-image:  url(../../Public/Images/Forma\ 2.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 5.25rem 26rem;
}

main {
    color: #fff;
}

.logo {
    text-align: center;
    margin-top: 2.8rem;

}

.logo img {
    height: 3rem;
}

main h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.62rem;
    line-height: 3rem;
    margin: 1.5rem 0 1rem 0;
}

main p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0 3.5rem;
    text-align: center;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
    align-items: center;
    
}

main section a {
    width: 11.25rem;
    height: 2rem;
    background-color: #FC7071;
    color: #fff;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px rgb(41, 40, 40);
    text-align: center;
    text-decoration: none;
    
    padding-top: .25rem;
}

.voidSpace {
    height: 18rem;
    padding-top: 1.5rem;
}

.ilustracao {
    position: absolute;
    top: 530px;
    left: 33.66px;
    z-index: -1;
    width: 15.5rem;
    height: 19.5rem;
}